/* Elements */
body {
	margin: 0;
}


/* Classes & IDs */
/* Header */
.h-flex {
    display: flex;
    justify-content: space-evenly;
}

.h-title-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#h-logo-flex {
    display: none;
}


    /* Buttons Section */
    .s-flex {
        display: flex;
        flex-direction: column;
    }

    .s-button-flex {
        margin: 6.5em 1.3em 0;
    }

    .s-btn {
        font-size: 1.8rem;
        padding: .8em 1.8em;
        width: 10em;
    }