/* Custom Classes */

/* Header */
.h-flex {
    display: flex;
    justify-content: center;
}

.h-title-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h-logo-flex {
    display: none;
}

.s-flex {
    display: flex;
}

.s-flex > div {
    margin: auto;
}

.s-div-flex {
    margin: 2.5em 1.3em;
}

.s-btn-flex {
    font-size: 1.8rem;
    padding: .8em 1.8em;
    width: 10em;
}