/* Custom CSS */

/* Navbar */
.h-drop-flex {
	position: relative;
	display: inline-block;
	max-height: 2.3em;
}

.h-drop-btn {
	background-color: unset;
	padding: .3em .8em;
	border: none;
	cursor: pointer;
}

.h-drop-content {
	display: none;
	position: absolute;
	background-color: #252525;
	min-width: 7.9em;
	z-index: 1;
 }

.h-drop-content li {
	color: rgb(201, 201, 201);
	padding: .4em;
	text-decoration: none;
	display: block;
	text-decoration: none;
}

.h-drop-content li:nth-child(1) {
    border-bottom: .1em solid rgb(66, 66, 66);
}

.h-drop-content li:hover {
	background-color: #535353;
	color: white;
	cursor: default;
}

.h-drop-flex:hover .h-drop-content {
	display: block;
}


/* Header */
.h-flex {
	display: flex;
	justify-content: flex-start;
}

.h-title-flex {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-right: 3.5em;
	flex: 1;
}

.h-title-content:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.h-title-content:last-child p {
    font-size: 1.1rem
}

.h-logo-flex {
	display: none;
}


/* Buttons Section */
.s-flex {
    display: flex;
    flex-direction: column;
}

.s-button-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* margin: auto; */
}

.s-button-flex button {
    font-size: 1.1rem;
    padding: 1em 0.8em;
    margin: 1em 0;
    width: 10em;
    height: 5em;

    /* flex: 0;
    flex-shrink: 1; */
}

/* body {
    margin: 0;
    width: 100vw;
} */