
/* Custom Classes */

/* Navbar */
.h-drop-flex {
	position: relative;
	display: inline-block;
	max-height: 2.3em;
}

.h-drop-btn {
	background-color: unset;
	padding: .3em .8em;
	border: none;
	cursor: pointer;
}

.h-drop-content {
	display: none;
	position: absolute;
	background-color: #252525;
	min-width: 7.9em;
	z-index: 1;
 }

.h-drop-content li {
	color: rgb(201, 201, 201);
	padding: .4em;
	text-decoration: none;
	display: block;
	text-decoration: none;
}

.h-drop-content li:nth-child(1) {
 border-bottom: .1em solid rgb(66, 66, 66);
}

.h-drop-content li:hover {
	background-color: #535353;
	color: white;
	cursor: default;
}

.h-drop-flex:hover .h-drop-content {
	display: block;
}


/* Header */
.h-flex {
	display: flex;
	justify-content: flex-start;
}

.h-title-flex {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-right: 3.5em;
	flex: 1;
}

.h-logo-flex {
	display: none;
}


/* Form */
.f-flex {
	width: 13em;
	margin: auto;
	text-align: center;
}

.f-input-flex {
	display: flex;
	padding: 1.5em 0;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 1.6rem;
}

.f-input-flex > label {
	flex: 1;
	padding: 1em 0;
}

.f-input-flex > input {
	padding: .7em .5em;
	flex: 0;
}

.f-submit-flex {
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
	padding: 1.4em 0;
	align-items: center;
}

.f-submit-flex > input {
	font-size: 1.5rem;
	padding: .25em 1.2em;
	margin: 0;
	margin-bottom: 2em;
}


	/* Form Recovery */
	.f-rInput-flex {
		justify-content: center;
		font-size: 1.14rem;
		padding: 50% 0 1em 0;
	}

	.f-rInput-flex > label {
		padding: 1em 0;

	}

	.f-rInput-flex > input {
		flex: 0;
	}

	.f-rSubmit-flex > input {
		padding: .25em 1.2em;
		margin: 0;
	}

	/* Popup */
	.popup {
		display: none;
		position: relative;
		background-color: rgb(37, 37, 37);
		/* border: 1px solid rgb(17, 17, 17); */
		padding: .6em;
		z-index: 1;
		color: rgb(226, 226, 226);
		border-radius: 5px;
		right: .8em;
		top: .32em;
		right: 0;
		/* box-shadow: #252525; */
	}

	.popup::after {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 50%;
		margin-left: -0.4em;
		border-width: .4em;
		border-style: solid;
		border-color: transparent transparent rgb(37, 37, 37) transparent;
	}